<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script async defer src="js/script.js"></script>
    <title>Url-shortener</title>
</head>
<body>

    <div class="container page-wrapper">
        <div class="url-wrapper">
            <div class="url">  <%= url %> </div>
            <div class="icon clipBoard"> <img src="img/copy.svg" alt="copy"> </div>
        </div>

        <a class="back-to-home" href="/"> HOME </a>

    </div>
    
</body>
</html>